<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../Home_partials/headhome'); %>
</head>
<body class="container">

<header>
  <%- include('../Home_partials/headerhome'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>chat application</h1>
    this is home page of our chat application
    
  </div>
</main>



</body>
</html>